#weather{
    display:flex; 
    flex-wrap:wrap;
}
#weather div{
    padding:4px;
    margin:4px;
    /*background-color:rgba(59, 59, 59, 0.8);
    color:#EBEBEB;*/
}
#where{
    display:flex
}
    #name{
        font-size:36px;
    }
    #country{
        font-size:18px;
    }
#temp{
    font-size:42px;
}
    #temp .title{

    }
    #temp .info{

    }
#feelslike{

}
#humidity{

}
#pressure{

}
#maxtemp{

}
#mintemp{

}
#maindescription{

}
#description{
    
}