#weather{
    display:flex; 
    flex-wrap:wrap;
}
#weather div{
    padding:10px;
    margin:10px;
    background-color:rgba(59, 59, 59, 0.9);
    color:#EBEBEB;
}
#name{
    font-size:48px;
}
    #name .title{
        display:none;
    }
#country{
    width:24px;
    font-size:18px;
    position:relative;
    padding:4px;
}
    #country .title{
        display:none;
    }
    #country .info{
        position:absolute;
        bottom: 16px;
    }
#temp{
    font-size:42px;
}
    #temp .title{

    }
    #temp .info{

    }
#feelslike{

}
#humidity{

}
#pressure{

}
#maxtemp{

}
#mintemp{

}
#maindescription{

}
#description{
    
}