html, body{
    height:100%;
    overflow-x:hidden;
}
body {
    background: rgb(238,246,33);
    background: linear-gradient(149deg, rgba(238,246,33,1) 6%, rgba(204,197,39,1) 44%, rgba(214,105,36,1) 69%, rgba(205,41,41,1) 91%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
    margin:0;
}
header{
    background-color:#3B3B3B;
}
#main{
    max-width: 1200px;
    width:300px;
    margin: 0 auto;
    text-align: center;
    color:#EBEBEB;
}
#headerWrapper, #formWrapper{
    width:50%;
    display:inline-block;
}
#formWrapper form{
    padding: 30px 30px 0px 30px;
}
#mainWrapper{
    max-width:300px;
    margin:0 auto;
}
#results{
    background-color:rgba(235, 235, 235, 0.9);
    color:#3B3B3B;
    padding:10px;
    margin:15px auto;
    border-radius:2px;
    width:280px;
    display:block;
}
@media only screen and (min-width: 768px) {
    #mainWrapper{
        min-width: 700px;
        margin:30px auto;
    }
    #main{
        width:auto;
    }
    #results{
        margin:10px;
        width:auto;
    }
    #headerWrapper, #formWrapper{
        
    }
}

footer{
    background-color:rgba(235, 235, 235, 0.9);
    color:#3B3B3B;
    padding:10px;
    position: absolute;
    right: 10px;
    bottom: 20px;
}