/* pacifico-regular - latin */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/pacifico-v17-latin-regular.woff2') format('woff2'),
         url('./fonts/pacifico-v17-latin-regular.woff') format('woff')
  }
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/montserrat-v15-latin-regular.woff2') format('woff2'),
         url('./fonts/montserrat-v15-latin-regular.woff') format('woff')
  }
html, body{
    height:100%;
    overflow-x:hidden;
    font-family: 'Montserrat';
}
body {
    background:#EBEBEB;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
    margin:0;
}
header{
    background-color:#4386E6;
}
#main{
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    padding:4px;
    color:#EBEBEB;
}
#headerWrapper, #formWrapper{

}
    #headerWrapper h1{
        font-family: 'Pacifico';
        font-size: 2em;
    }
#formWrapper form{
    display:flex;
    margin: 0 auto 10px auto;
    max-width:400px;
}
    #textField{
        margin:0 1%;
        width:41%;
        background-color: #EBEBEB;
        border: 1px solid #3B3B3B;
        color: #3B3B3B;
        border-radius: 2px;
    }
    #countryPicker{
        margin:0 1%;
        width:36%;
        font-family: 'Montserrat';
        background-color: #EBEBEB;
        border: 1px solid #3B3B3B;
        color: #3B3B3B;
        border-radius: 2px;
    }
        #countryPicker option{
            width:inherit;
            font-size:0.8em;
            background-color: #EBEBEB;
            color: #3B3B3B;
        }
    #formWrapper form button{
        margin:0 1%;
        width:17%;
        text-align:center;
        color: #3B3B3B;
        background-color: #EBEBEB;
        box-shadow: 1px 1px #3B3B3B;
        border:none;
        border-radius: 2px;
    }
        #formWrapper form button:active{
            box-shadow: 1px 1px #EBEBEB;
        }
#mainWrapper{
    max-width:300px;
    margin:0 auto;
}
#results{
    /*background-color:rgba(235, 235, 235, 0.9);*/
    color:#3B3B3B;
    padding:10px;
    margin:15px auto;
    border-radius:2px;
    width:280px;
    display:block;
}
@media only screen and (min-width: 768px) {
    #headerWrapper, #formWrapper{
        width:50%;
        display:inline-block;
    }
    #mainWrapper{
        min-width: 700px;
        margin:30px auto;
    }
    #main{
        width:auto;
    }
    #results{
        margin:10px;
        width:auto;
    }
    footer{
        padding:10px;
    }
}
footer{
    font-size:0.7em;
    background-color:rgba(235, 235, 235, 0.8);
    color:#3B3B3B;
    padding:5px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
    footer a{
        color:#3B3B3B;
    }